# Environment Variables
PORT=5001
# For local MongoDB:
MONGO_URI=mongodb://127.0.0.1:27017/shoplite
# For MongoDB Atlas:
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/shoplite?retryWrites=true&w=majority
JWT_SECRET=shoplite_super_secret_key_change_in_production
